.container {
    display: flex;   
    flex: 1;
    justify-content: center;
    align-items: center;
  
}

.column {
    margin: 0px;
 
}

.row {
    margin: 0px;
    border:1px solid black;
    background: gold;
}

.active {

    background: cyan;
}